# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Select List Element'
      'command': 'list-edit:select'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'List Edit'
      'submenu': [
        {
          'label': 'Select List Element'
          'command': 'list-edit:select'
        }
      ]
    ]
  }
]
