# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# TODO: Do we really want these in the context menu? Might be too much clutter.
'context-menu':
  'atom-text-editor': [
    label: 'List edit'
    submenu: [
      {
        'label': 'Select'
        'command': 'list-edit:select'
      }
      {
        'label': 'Cut'
        'command': 'list-edit:cut'
      }
      {
        'label': 'Copy'
        'command': 'list-edit:copy'
      }
      {
        'label': 'Paste'
        'command': 'list-edit:paste'
      }
    ]
  ]
'menu': [
  {
    'label': 'Selection'
    'submenu': [
      {
        'label': 'Select List Element'
        'command': 'list-edit:select'
      }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      'label': 'List Edit'
      'submenu': [
        {
          'label': 'List Select'
          'command': 'list-edit:select'
        }
        {
          'label': 'List Cut'
          'command': 'list-edit:cut'
        }
        {
          'label': 'List Copy'
          'command': 'list-edit:copy'
        }
        {
          'label': 'List Paste'
          'command': 'list-edit:paste'
        }
      ]
    ]
  }
]
